[2016-12-07 12:08] aviaryan opened #5 "Video editors"
Not really into video editing so don't know much about video editors and wasn't able to find one after googling. Help needed.

[2016-12-18 13:08] aviaryan commented on #5
A video editor has already been added by @arpit1997 .. So closing

[2016-12-18 13:08] #5 closed

[2016-12-21 11:38] aashutoshrathi opened #24 "Add Calcul"
An advance calculator lets you calculate advance math problems and many other things, without any login
http://www.calcul.com/

[2016-12-26 11:12] aviaryan commented on #24
A nice collection of calculators. Thanks for sharing. Will include it.

[2016-12-26 11:19] #24 closed

[2017-01-30 06:34] aviaryan opened #31 "Create a logo/illustration for the list and add it to README"
It would be nice to have a logo for the list like https://github.com/sindresorhus/awesome-electron

PRs are most welcome.

[2017-02-01 05:01] aviaryan commented on #31
@ansarimofid Want to help?

[2017-02-03 03:51] ansarimofid commented on #31
I will work on this. But it may take some time.

[2017-02-13 22:38] xmesaj2 opened #33 "Additional links [ezgif, rollapp, skype and more]"
http://rollapp.com
requires account, let's you run most of Windows/Linux apps within a browser.

http://realtimeboard.com
requires account, best collaborative drawing I've used, supports screen sharing, video&voice communicatios

http://web.skype.com
web-based version of Skype communicator

http://ezgif.com
no account required, manipulating gif files with lots of possiblities

https://aurifexlabs.

[2017-02-14 03:17] arpit1997 commented on #33
Codenvy is already in the list.

[2017-02-17 12:10] aviaryan commented on #33
@xmesaj2 Can you please send a pull request for this. Also please pay close attention to [CONTRIBUTING.md](https://github.com/aviaryan/awesome-no-login-web-apps/blob/master/CONTRIBUTING.md) before submitting your patch.

[2017-02-17 12:29] xmesaj2 commented on #33
@aviaryan should I make 1 commit per site then submit PR or all in just single commit?

[2017-02-17 13:11] xmesaj2 commented on #33
submitted PR skipping Abra and MightyEditor because they are rather focused on one html5 game library

[2017-02-17 13:14] aviaryan commented on #33
@xmesaj2 Please don't add Skype as it requires account and we already have similar options that don't require login. Rest all seems good.
Ideally we would like one app per PR but in this case we can make an exception.
Please make the title of your PR as `Added X,Y,Z,.... and B`. 1 commit per site should be better.

[2017-02-17 13:39] aviaryan commented on #33
Closed by #34

[2017-02-17 13:39] #33 closed

[2017-04-01 22:27] Monal5031 opened #36 "Add imgh"
website [imgh](https://imgh.us/) is a image hosting website which enables us to host images without login.

[2017-04-01 22:29] Monal5031 opened #37 "Add ImageTitan"
[ImageTitan](http://www.imagetitan.com/) File hosting website requires no login for hosting images but has some limitations over file size,

[2017-04-02 06:15] aviaryan commented on #37
We already have an image hosting website listed there. So at most, only one more similar website is permitted. Please decide between #36 and this. Or you can even suggest a better alternative.

[2017-04-02 08:57] Monal5031 commented on #37
@aviaryan #36 is better than this one as it provide's more file types and more size.

[2017-04-02 09:28] aviaryan commented on #37
@Monal5031 Then please send a PR for it.

[2017-04-02 11:07] Monal5031 commented on #37
@aviaryan This issue should be closed as #36 was added over this.

[2017-04-03 16:50] #37 closed

[2017-04-03 16:50] #36 closed

[2017-04-03 16:51] aviaryan commented on #36
Fixed at #38

[2017-04-14 19:14] aashutoshrathi opened #40 "Add goo.gl"
A URL shortening service by Google
[goo.gl](https://goo.gl/)

[2017-04-14 21:00] aviaryan commented on #40
@aashutoshrathi Thanks for the thought but we already have 2 url shorteners in that list.
If you think this url shortener has a competitive edge for others, then only we can add it.
Thoughts ?

[2017-04-14 21:33] aashutoshrathi commented on #40
@aviaryan no such competition, but I think this one is by Google, so can be trusted more..

[2017-05-01 10:43] aviaryan commented on #40
bitly and is.gd are old trusted companies so they won't just shut down their services and run away. So an argument like more trustable is not valid here.

[2017-05-01 10:43] #40 closed

[2017-05-01 10:53] mohitkyadav opened #41 "Add Multcloud"
Multcloud is a free service, helps to manage multiple cloud accounts, you can manage, move, copy and migrate files between cloud services. Supports all cloud services, all.
Initially 2 TB of cloud storage for free on Multicloud. Supports downloading large files up to 2TB(remaining space on the cloud), can directly download files to your drive or Multcloud.

It's awesome.

https://www.multcloud.com

[2017-05-01 11:25] aviaryan commented on #41
Looks nice. Please send a PR.
Btw, should it be tagged `Account`? I see there is an option to use it without giving your email. And it seems to have most of the features.

[2017-05-02 13:45] #41 closed

[2017-05-05 08:47] Anshuman-Verma commented on #40
goo.gl lets you keep track of the traffic generated through the link and also provides the QR code of the shortened link. That's quite and advantage.

[2017-05-05 08:54] Anshuman-Verma commented on #40
Okay !

[2017-05-06 05:40] Anshuman-Verma opened #48 "pdfescape.com"
This webapp lets one quickly edit PDFs in browser itself. Since we have a couple of document editors, but no online PDF editors, i think this is worth adding.

[2017-05-06 06:12] aviaryan commented on #48
Yes, very good. This will be a nice addition to our list.

[2017-05-06 06:16] Anshuman-Verma commented on #48
Okay cool, on it!

[2017-05-06 06:16] #48 closed

[2017-05-07 05:36] Anshuman-Verma opened #54 "Addition in 'Search Engines'"
Was curious if we need a few font search engines in search engines section since we are short of them.

[2017-05-07 05:53] Anshuman-Verma opened #57 "play.typeracer.com request"
Thoughts on having play.typeracer.com added ?
Its a nice web-app to evaluate typing speed and compete with others, we are short on such web-apps too.

[2017-05-07 06:16] Anshuman-Verma opened #60 "marker.to"
This web-app provides a plugin for highlighting text pieces on the web and sharing online on-the-go, since it only provides a plugin, is this worth the addition ?

[2017-05-07 09:08] aviaryan commented on #54
Yes sure, that looks like a good addition.

[2017-05-07 09:08] aviaryan commented on #57
Looks good. I think we need a Games category now. 🎉

[2017-05-07 09:09] aviaryan commented on #60
It's core is a web extension / plugin so it is not suitable for this list.

[2017-05-07 09:09] #60 closed

[2017-05-07 09:21] Anshuman-Verma commented on #54
Incoming :+1:

[2017-05-07 09:21] #54 closed

[2017-05-07 09:23] Anshuman-Verma commented on #57
Surely! :balloon:

[2017-05-07 09:23] #57 closed

[2017-05-07 09:35] Anshuman-Verma commented on #60
Wakatta. :smile:

[2017-05-07 11:24] Anshuman-Verma opened #65 "New category name"
What's most suitable for new category name relating to games section ?

[2017-05-07 11:24] Anshuman-Verma commented on #65
Just Games ?

[2017-05-07 11:24] aviaryan commented on #31
@ansarimofid Bro, please. 🙏🏻

[2017-05-07 11:25] aviaryan commented on #65
Yes that should do. "Games"

[2017-05-07 11:37] Anshuman-Verma commented on #65
Alright.

[2017-05-07 11:37] #65 closed

[2017-05-08 08:58] Anshuman-Verma opened #68 "New category"
Should we have a new category for tutorial web-apps like lynda, codeacademy, udacity etc ?

[2017-05-08 09:19] Anshuman-Verma opened #71 "mAhLyfeMahRulezz Query"
I think the annoying text generator http://aviaryan.in/mAhLyfeMahRulezz/ deserves to be on the list too. :laughing:
.
.
.
.
.
.
.
.

[2017-05-08 14:00] Anshuman-Verma commented on #68
@aviaryan

[2017-05-09 11:53] aviaryan commented on #71
Yes, agreed.

[2017-05-09 11:54] aviaryan commented on #68
No, they are not apps even if we try to loosen the meaning of "app".

[2017-05-09 11:54] #68 closed

[2017-05-09 13:39] #71 closed

[2017-05-12 14:17] Anshuman-Verma opened #80 "typingweb.com query"
Should we include typingweb.com into the list ?
This web-app takes us through a course to master touch typing, encourages users to practice by providing them with badges and other stuff. We are short of such web-apps too.
Need Account to track progress and accumulate badges.
Let me know if we need this in the list @aviaryan .

[2017-05-13 07:17] aviaryan commented on #80
Yes, it's perfectly suited for our list.

[2017-05-13 14:31] Anshuman-Verma commented on #80
Which section is most suited for this web-app ? Utilities or Misc. ?
Do let me know beforehand so I can send in a clean mergable PR which is convenient to review at one go.
Thanx for looking into the issue @aviaryan, looking forward to sending more PRs.

[2017-05-13 17:47] aviaryan commented on #80
Utilities

[2017-05-14 08:18] Monal5031 opened #82 "acronymcreator.net"
A webapp that gives acronym for any project, organization, algorithm or anything, only condition is that there should be at least two words in the name.
link : [http://acronymcreator.net/](http://acronymcreator.net/)

[2017-05-14 10:57] Anshuman-Verma commented on #82
We are short of such web-apps. Nice addition @Monal5031 . :tada:
This can probably go in text-based tools section, what say @aviaryan .

[2017-05-14 11:11] #80 closed

[2017-05-14 11:13] aviaryan commented on #82
text based tools are generally related to text (paragraph) processing.
This is more suited for utilities.

[2017-05-14 11:19] Monal5031 commented on #82
@Anshuman-Verma I also found a Project name generator but it wasn't that useful.
@aviaryan So shall I add it in utilities?

[2017-05-14 11:20] Anshuman-Verma opened #84 "ifttt.com [Account]"
This web-app lets us create a connection between all our online accounts and manage them by signing up. This makes account management real convenient since we can manage all our accounts on one platform and saves us time to manage all accounts individually.
This can be a valuable addition to the list.
Views @aviaryan ?

[2017-05-14 11:29] Anshuman-Verma opened #85 "Otixo.com [Account]"
This web-app is a cross platform app for collaborating files hosted on online file hosting sites like Dropbox, Gdrive etc all in one place by creating one simple account, this can be a valuable addition to the list as there is no such web-app present till now in the list.
Let me know your views @aviaryan .

[2017-05-14 15:44] Anshuman-Verma commented on #82
@Monal5031 nice, if anyhow you're doubtful to add stuff, open an issue.
Yes, add it in utilities section (that's what @aviaryan would say). :+1:

[2017-05-15 07:34] #82 closed

[2017-05-15 18:09] Monal5031 opened #89 "softonic.com"
Does this qualify for this list as it provides various software and reviews too.
[softonic](https://en.softonic.com/)

[2017-05-15 18:15] Monal5031 opened #90 "https://ww1.gogoanime.io/"
Does anime downloads website like gogoanime should be added?
Would be a nice addition for anime lovers
Views? @aviaryan @Anshuman-Verma

[2017-05-15 18:16] Monal5031 opened #91 "http://www.todaytvseries.com/"
[http://www.todaytvseries.com/](http://www.todaytvseries.com/) offers downloads for tv series.

[2017-05-15 19:05] #90 closed

[2017-05-15 19:05] aviaryan commented on #89
Not an app.

[2017-05-15 19:05] #89 closed

[2017-05-15 19:07] aviaryan commented on #90
Not an app. More like a list.

[2017-05-16 04:49] Anshuman-Verma commented on #91
I dont think it fits the definition of an 'app' and is more like a list of download links clustered in one place.
I'm not suggesting to include this in the list @Monal5031.
Anyways let @aviaryan have his say . :tada:

[2017-05-16 07:28] aviaryan commented on #91
Yes, like @Anshuman-Verma said, this is not suitable for the list. plus piracy issues.

[2017-05-16 07:28] #91 closed

[2017-05-16 07:29] aviaryan commented on #85
We have MultCloud

[2017-05-16 07:30] aviaryan commented on #84
Sure, please go ahead.

[2017-05-16 12:56] Anshuman-Verma commented on #85
Wakatta.

[2017-05-16 12:56] #85 closed

[2017-05-16 13:00] Anshuman-Verma commented on #84
Which section seems most appropriate ? To me Utilities or Miscellaneous, lemme know what u think is right so that i can send a PR. @aviaryan

[2017-05-16 13:12] Anshuman-Verma opened #92 "builtwith.com"
This web-app lets one discover the build technology behind a website.
Right place to visit when one wishes to find the technology stack to know everything about a website.
Do let me know if this is worth the addition in the list @aviaryan.

[2017-05-16 13:15] Anshuman-Verma opened #93 "woorank.com"
Use this web-app to research a website from the SEO perspective.
This even provides us with the website rank (Global & Local) based on the  traffic generated too.
Do let me know your views to include this into the list @aviaryan .

[2017-05-16 13:18] Anshuman-Verma opened #94 "talltweets.com"
Tall Tweets helps you write tweets longer than 140 characters. You can publish mini-essays, paste Word documents, press releases and other long snippets of text on Twitter without any limits. You can even highlight text in picture tweets.
Let me know if we need this @aviaryan. (yes) ? suggest section : close issue.

[2017-05-16 13:22] aviaryan commented on #94
Utilities.

[2017-05-16 13:22] Anshuman-Verma opened #95 "studio.stupeflix.com/en/"
Make amazing videos in seconds !
Just add photos, videos, music, and text.
It's very easy, and super fun!
Let me know if we need this in the list @aviaryan .

[2017-05-16 13:23] aviaryan commented on #95
Well if it doesn't require accounts, it's an obvious addition to the list. Even if it requires accounts, I don't think we have much video editors.

[2017-05-16 13:26] Anshuman-Verma commented on #95
Right, I have a couple of  other video editors too, maybe we should strengthen the Pictures & Video section a bit. :yum:

[2017-05-16 13:27] Anshuman-Verma commented on #94
Wakatta.

[2017-05-17 02:55] #95 closed

[2017-05-17 02:56] aviaryan commented on #95
Please add a Fixes ... comment in the PR so that issue closes automatically.

[2017-05-17 02:56] #94 closed

[2017-05-17 02:56] aviaryan commented on #92
Cool, This can go in Programming Tools.

[2017-05-17 05:53] Monal5031 opened #98 "www.namegenerator.biz"
Its a name generator for many things including Team name, first name, last name, etc
[http://www.namegenerator.biz/](http://www.namegenerator.biz/)

[2017-05-17 13:44] Anshuman-Verma commented on #98
I made a test team name generation and what it gave was:
- The plant salamanders
- The dangerous cockroaches
:laughing:

[2017-05-17 16:26] Monal5031 commented on #98
So where shall I add it?

[2017-05-17 16:56] Anshuman-Verma commented on #98
I'm real bad at selecting sections so i won't say a thing, let @aviaryan  sir have his say about selecting section and whether we should have it in the list, names generated didn't look much promising to me to be honest. :laughing:

[2017-05-18 05:07] Anshuman-Verma opened #100 "teuxdeux.com [Account]"
Minimalist but attractive, Teuxdeux is a web-based task management app known for its horizontal and calendar-like interface. This lets you add tasks, strike them off, and jump from one day to another – all within one clean view.
Only problem is that it  provides a 30 day trial after which it's 12$ a year. :disappointed:
Lemme know if  we need this @aviaryan.

[2017-05-18 05:10] Anshuman-Verma opened #101 "waveaccounting.com/about-us/ [Account]"
If numbers are not your specialty, life just got a bit easier. Wave is a free accounting application that looks after your bookkeeping so you can focus on your work. For example, it can automatically categorize your expenses, and it learns as you use the program. You can also access Wave through its Google Chrome app.
Let me know if we need this @aviaryan

[2017-05-18 05:21] #92 closed

[2017-05-18 05:26] Anshuman-Verma opened #102 "invoicetome.com"
Create professional invoices with your company details.
It gives you a pretty good, printer ink conserving, professional template that you can edit to add your own business name, address, customer details, purchase particulars, and more to. When you’re finished, simply export the file as a PDF and send it (or print and send) to your customer.
Need this @aviaryan  ?

[2017-05-18 05:26] aviaryan commented on #100
No, there are better free apps available.

[2017-05-18 05:26] #100 closed

[2017-05-18 05:27] aviaryan commented on #84
Misc should be good.

[2017-05-18 05:29] aviaryan commented on #93
We can have it in Programming Tools but I think we already have some web SEO tools. Please do the appropriate.

[2017-05-18 05:31] aviaryan commented on #98
This webapp looks ordinary. I am sure there are better tools available for this.

[2017-05-18 05:31] #98 closed

[2017-05-18 05:32] aviaryan commented on #102
We can have this in Business tools.

[2017-05-18 05:33] aviaryan commented on #101
It looks too big / versatile to add it as an app. Plus it's `[account]`. I think we shouldn't include it.

[2017-05-18 05:33] #101 closed

[2017-05-18 05:38] Anshuman-Verma opened #103 "choosemypc.net"
It’s a very simple app that asks you to set your budget, select which country you’re in (only four supported at the moment), and whether or not you plan to overclock your system. The app will give you a complete list of parts to buy and you can add other parts to the PC such as an optical drive. The list of parts updates but keeps you under or on budget.
Can this go in search engines @aviaryan ?

[2017-05-18 05:51] Anshuman-Verma opened #104 "gifdeck.in"
it’s an amazing little service that turns presentations on SlideShare into GIFs. By default, it will convert the first ten slides though you can include more if you need to. The final output GIF can be saved to your local drive and used just about any way you want.
Need this in Graphics, Image and Design @aviaryan ?

[2017-05-18 05:56] Anshuman-Verma opened #105 "postfity.com [Acc]"
Postify is one such service that lets you schedule posts to Twitter and Facebook for free. You can schedule up to ten posts and it supports multiple Twitter accounts in addition to letting you manage Facebook pages.
What you will appreciate about Postify right off the bat is its clean interface.
How about  adding this in utilities sections @aviaryan ?

[2017-05-18 06:10] Anshuman-Verma opened #106 "burner.bonanza.com"
The Background Burner quickly removes the background from any image or photo. Our patent-pending technology does all the work for you, automatically.
Free online tool automatically removes the background from images
Simply drag image to remove background.
Can this go in Graphics & Image section @aviaryan ?

[2017-05-19 06:29] Anshuman-Verma commented on #93
This has an upper hand over others by providing a local and global rank on the basis of traffic generated, so let's make it the last web SEO tool we include in the programming section alright  ?

[2017-05-21 04:20] aviaryan commented on #104
It's more like a slideshare to gif converters. Therefore it should go in File Converters.

[2017-05-21 04:20] aviaryan commented on #105
Cool. Please do so.

[2017-05-21 04:21] aviaryan commented on #106
Yes.

[2017-05-21 04:22] aviaryan commented on #103
Ok.

[2017-05-21 05:57] #103 closed

[2017-05-21 06:01] #102 closed

[2017-05-21 06:03] #93 closed

[2017-05-21 07:39] #84 closed

[2017-05-21 10:51] aashutoshrathi opened #114 "10MinuteMail.com"
By clicking on the link below, you will be given a temporary e-mail address. Any e-mails sent to that address will show up automatically on the web page. You can read them, click on links, and even reply to them. The e-mail address will expire after 10 minutes.

Why would you use this? Maybe you want to sign up for a site which requires that you provide an e-mail address to send a validation e-mai

[2017-05-21 12:35] Anshuman-Verma commented on #114
What is this ? Why is this ? What should i do with this ? How do i know if it helps me or not ? Why this issue is on this repo ? Why do u exist ? Why does this site exist ? What is the comment button below green ? Is this an app or a form or a list ? Why the issue number is 114 ? -_- @aashutoshrathi

[2017-05-21 12:39] akash1997 commented on #114
This site is good. I think this should be included in the list.

[2017-05-21 12:41] aashutoshrathi commented on #114
@Anshuman-Verma updated it, sorry for inconvenience

[2017-05-21 12:53] Anshuman-Verma commented on #114
Looks good, @aashutoshrathi
Which section looks good for this  ?

[2017-05-21 12:54] akash1997 commented on #114
I think this can be added to Privacy section, since the main motive is privacy.

[2017-05-21 12:56] aashutoshrathi commented on #114
It can also be in communication as
FaxZero - Send an online fax for free.
is placed in Communication

[2017-05-21 12:59] Anshuman-Verma commented on #114
Privacy seems more appropriate to me, anyways let @aviaryan have his say.

[2017-05-21 13:01] aashutoshrathi opened #115 "Deadlink of PDFEscape"
Link given to PDFEscape is not working.
It needs to be updated to [PdfEscape](https://www.pdfescape.com/)

[2017-05-21 13:04] akash1997 commented on #114
on second thought, I think @aashutoshrathi is right, it would be more relevant under communication. If tlk.io is under communication, this also belongs there I guess. Anyways, as @Anshuman-Verma mentioned, let @aviaryan have his say. 😄

[2017-05-21 13:04] Anshuman-Verma commented on #115
Thanks !

[2017-05-21 13:08] Anshuman-Verma commented on #115
I sent PR for adding PDFescape and it was totally working at that time. :O

[2017-05-21 13:14] aashutoshrathi opened #117 "Brainfuck Visualizer"
Brainfuck is a turing-complete minimal programming language. It designed to implement easily on any programming language.
Brainfuck language consist with a simple machine model, a pointer and 8 command (character).
This link is Javascript Brainfuck Interpreter + Visualizer.
Helps to understand how your code is working.
[Brainfuck Visualizer](http://fatiherikli.github.io/brainfuck-visualizer/)
Shou

[2017-05-21 13:38] #115 closed

[2017-05-21 13:44] aviaryan commented on #117
It runs the code also so it is more suited for Programming Editors/IDEs category.

[2017-05-21 13:50] aashutoshrathi opened #118 "Privacy Error in Fuge.it 's link"
Link of Fuge.it in curated list is [https://fuge.it/](https://fuge.it/) which is giving privacy error
**Your connection is not private**
as the security certificate expired 379 days ago.
Is there anything we can do to fix it ?
Somehow [http://fuge.it/seedbox](http://fuge.it/seedbox) is working 😕

[2017-05-21 13:51] aashutoshrathi commented on #117
Should I send a PR ?

[2017-05-21 14:07] aashutoshrathi opened #119 "The On-Line Encyclopedia of Integer Sequences® (OEIS®)"
As the name defines, you can search for Integer sequences here.
This helps in cryptography as well as formulating odd looking sequences.
Rest can be checked by visiting [OEIS®](http://oeis.org/)
If I should add this assign me

[2017-05-21 14:21] aviaryan commented on #118
For now, we can link to another page like http://fuge.it/howitworks

[2017-05-21 14:25] aashutoshrathi commented on #118
So, should I send a PR ?

[2017-05-21 14:29] aviaryan commented on #118
@aashutoshrathi Yes, please.

[2017-05-21 14:32] Monal5031 commented on #114
@Anshuman-Verma It should rather be `Why` than `What' :P

[2017-05-21 14:38] aviaryan commented on #114
As @akash1997 pointed out earlier, privacy is the major motive behind this app and therefore it should go in privacy.
You won't use this for regular communication as the email address will expire after 10 minutes.
The main reason this app exists is because of the privacy factor, so privacy. 🎉

[2017-05-21 15:18] #118 closed

[2017-05-21 15:20] #105 closed

[2017-05-21 15:21] #104 closed

[2017-05-21 15:26] aviaryan opened #121 "Inconsistent file extensions formatting"
There are instances in the README where we have file types (XLS, PNG) written as (xls, png) etc..
We need to follow a consistent style where all abbreviations and file-types are written in full caps in order to qualify for awesome list.
Therefore this issue needs fixing.

[2017-05-21 15:27] akash1997 commented on #121
shall i do it?

[2017-05-21 15:35] aviaryan commented on #121
@akash1997 Yes, sure. Thanks.

[2017-05-21 15:37] #114 closed

[2017-05-21 18:09] #106 closed

[2017-05-21 19:45] akash1997 commented on #121
Done! I've sent a PR with the necessary changes. I have double checked the document, even then if there are corrections, kindly inform me! 😃

[2017-05-22 03:43] #117 closed

[2017-05-22 04:04] aashutoshrathi opened #125 "Sorting List for Ease of Access"
Should we sort whole list alphabetically, so that its easy for user to find the section they are searching for ?

[2017-05-22 06:20] #121 closed

[2017-05-22 14:05] aviaryan commented on #119
Sure, go ahead.

[2017-05-22 14:07] aashutoshrathi commented on #119
In Cryptography or Education Section? 😕

[2017-05-22 15:00] aviaryan commented on #119
"This helps in cryptography" -> this doesn't mean it should go in cryptography as it can be used in different ways too.
Education would be better I think.

[2017-05-22 17:22] aashutoshrathi opened #128 "KrutiDev to Unicode (and vice versa) Converter"
**[KrutiDev to Unicode](http://wrd.bih.nic.in/font_KtoU.htm)**

This simple tool helps to convert old and orthodox KrutiDev Fonts to Unicode (Mangal) font for easy sharing and also because Mangal font is Unicode based, So supported all over the web.
For eg : converting

to

Can I add this to **[Text Based Tools](https://github.com/aviaryan/awesome-no-login-web-apps#text-tools)** Sections ?

[2017-05-23 08:37] aviaryan commented on #128
The use-case for this is too narrow. I am not sure if we should have this or not.
And Text Based Tools is not a good section for this either, since the tools in that category have mostly to do with text analysis. This is more like conversion. Utilities section would be better I guess.

[2017-05-23 08:39] aviaryan commented on #125
We can sort the list section-wise. This might not be a pressing issue right now because we have very few sections. But nevertheless, it is a good practise to intake.
If you want, you can send a PR sorting the sections.

[2017-05-23 10:36] aashutoshrathi commented on #125
@aviaryan
So, Should I sort all the section's title alphabetically or Each section's content alphabetically ?

[2017-05-23 10:39] Anshuman-Verma opened #133 "favicon-generator"
[Favicon Generator](http://www.favicon-generator.org/)
Generate favicons for your web-apps and icons for your Android or iOS apps by uploading your favourite image and downloading the converted image.
Can this go in Graphics & Image section or does file converter section seem more appropriate @aviaryan ?

[2017-05-23 10:39] aviaryan commented on #125
Section's title alphabetically.
I am not sure about sorting the individual contents alphabetically because the order there can be used to tell readers about the relative quality of the apps, which app was added first and so on.

[2017-05-23 10:46] aashutoshrathi commented on #125
Okay that seems to be a good idea

I will send PR as soon as pending PRs get merged, so that no file conflict occurs

[2017-05-23 17:39] #128 closed

[2017-05-23 17:45] aviaryan opened #134 "Make travis tests more fail resistant"
We sometimes have failed travis builds because of a temporary outage of a server.
Eg > [This Travis Build](https://travis-ci.org/aviaryan/awesome-no-login-web-apps/builds/235177947) when jotti's server was down.

To fix this, we can do a dirty hack of rechecking the links if the test fails.
If it fails first time and works second time, then test PASS else FAIL.

[2017-05-23 18:52] #134 closed

[2017-05-24 11:58] #125 closed

[2017-05-24 12:01] aviaryan opened #136 "Add more online games"
I think we can add a lot of good games here. Almost most of the classic games have a good online version.

[2017-05-25 06:17] Anshuman-Verma commented on #133
@aviaryan is this irrelevant ?

[2017-05-25 06:17] Anshuman-Verma commented on #136
What type of games do we need ? Examples ?

[2017-05-25 06:19] Anshuman-Verma commented on #136
Scope of adding games is infinite, we need to narrow down the approach and grab whats suitable for  being in the list.

[2017-05-25 06:24] aviaryan commented on #136
The only thing that matters is that we add really *awesome* games, that's all. After that, yes we will still be stuck with a lot of games, in that case I think we should add only the best games from each genre/type (like shooting / racing / fighting and so on ) .

[2017-05-25 17:50] Anshuman-Verma opened #138 "CSS Typeset"
CSS Type Set lets you create typography designs and generates the CSS for you. Just paste in text you want to modify, and then use the options at the bottom to customize it and it will generate the CSS in real-time.
[CSS Typeset](http://csstypeset.com/)
Is programming tools section appropriate for this @aviaryan ?

[2017-05-25 17:53] Anshuman-Verma opened #139 "BG Patterns"
BgPatterns is possibly the most powerful repeating pattern creator online. You can choose from a variety of shapes and then customize size, rotation, placement, color, texture, and more.
[BG Patterns](http://bgpatterns.com/)
Is Graphics, Image section appropriate for  this @aviaryan ?

[2017-05-25 17:56] Anshuman-Verma opened #140 "CSS Menu Generator"
This generator is great for when you just need a quick, simple drop-down menu. Just choose a style, create your menu items, and download the respective CSS for your desired menu.
[CSS Menu Gen.](http://www.cssmenumaker.com/)
Is *Programming Tools* section appropriate for this  @aviaryan ?

[2017-05-26 06:06] #133 closed

[2017-05-28 18:19] aviaryan commented on #140
Yes, that should work for now.

[2017-05-28 18:20] aviaryan commented on #139
Yes.

[2017-05-28 18:25] aviaryan commented on #138
Yes it should do.

[2017-05-29 12:40] #140 closed

[2017-05-29 14:32] #139 closed

[2017-05-30 04:34] #138 closed

[2017-05-31 05:18] Anshuman-Verma opened #145 "FAARY"
[FAARY](http://faary.com/)
Online CSS form generator, just put required from elements in list format and download respective web-content in zip format.
Can this go in *Programming Tools* @aviaryan ?

[2017-05-31 06:26] Anshuman-Verma opened #146 "pForm"
[pForm](http://www.phpform.org/)
This app lets user generate HTML forms by inserting form controls through predefined buttons and let's you edit them at will, after you're done adding and editing form controls download the respective form in zip format and use the way you please.
Can this go in *Programming Tools* @aviaryan ?

[2017-06-02 07:29] Anshuman-Verma commented on #146
phpForm*

[2017-06-02 08:15] code-note commented on #136
Hello, I'm new to OS and would like to contribute here.
Can I add some games from miniclip.com ?

[2017-06-02 08:31] aviaryan commented on #136
@code-note Yes, please feel free to do so.

[2017-07-03 06:17] aashutoshrathi opened #148 "IcoMoon"
IcoMoon is an icon solution, providing three main services: Vector Icon Packs, The IcoMoon App, and hosting icons as SVGs or fonts.
Can this go into *Graphics, Image and Design* Section.

[2017-07-03 14:45] aashutoshrathi opened #149 "BugMeNot"
BugMeNot is a helpful platform for finding and sharing logins. It helps when you want to be anonymous or don't want to make account (which is why we have this repository).
I think this should go in *Privacy, Security and Cryptography*. As we place 10MinuteMail there too.

[2017-07-10 02:24] aviaryan commented on #149
Looks cool. We can have it.

[2017-07-10 02:29] aviaryan commented on #148
We can have https://icomoon.io/app as the link.
I see that the main feature it has is the app I linked above. It allows you to select some free icons and then export them to svg, png or font.

[2017-07-10 08:42] #149 closed

[2017-07-18 21:09] Monal5031 commented on #148
Isn't this closed in #152 😆

[2017-07-19 02:56] #148 closed

[2017-07-26 00:02] Anshuman-Verma opened #157 "CSS Autoprefixer"
[CSS Autoprefixer](https://autoprefixer.github.io/)

A simple tool to process css and make compatible for all browsers.

[2017-07-28 07:52] #146 closed

[2017-07-28 07:53] #145 closed

[2017-07-28 12:49] #157 closed

[2017-07-30 17:26] anshumanv opened #159 "CSSmatic"
[CSSmatic](http://www.cssmatic.com/)

A web-app to visualize CSS changes in browser itself using user friendly UI and lets the user download appropriate CSS or compiled SASS as per the preferences.

Currently supports 4 tools :
* Gradient Generator
* Border Radius
* Noise Texture
* Box Shadow

The bunch of tools provided are amazing and time-saving.

This app should be appropriate for *Programming

[2017-07-31 13:51] Tuxhedoh opened #160 "Repl.it - requires login"
It appears that the service now requires a sign-in.

[2017-08-22 19:03] aashutoshrathi commented on #160
Yes, but you can continue as Anonymous, so no worries, I think. :wink:

[2017-08-22 19:11] aashutoshrathi opened #162 "WikiWhere"
[WikiWhere](https://wiki-where.github.io/) , Online Trivia game to check your knowledge on major cities and their geographical location.
This can go in _Games_

[2017-08-23 10:51] #160 closed

[2017-08-23 10:52] aviaryan commented on #162
I see the following error when I open the website. Any ideas?

![](https://i.imgur.com/4jjZJJE.png)

[2017-08-23 10:53] aviaryan commented on #159
Looks good. Please send a PR. 😄

[2017-08-23 10:54] aviaryan commented on #31
@ansarimofid It would be great if you can work on this.

[2017-08-23 15:25] aashutoshrathi commented on #162
Oh !!, I think it is _Google Chrome_ specific

[2017-08-25 07:52] anshumanv opened #163 "geography-map-games"
[geography-map-games](http://www.geography-map-games.com/) `[Account]`

This is an interactive app to test your geography, flags, capitals knowledge and compete with players worldwide, You can get various stats, ranks etc.

Form clubs with your teammates and play.
Thinking to add this in games section.

*extra* - I've been using this app with handle [natsu7](http://www.geography-map-games.com/_pag

[2017-08-29 08:20] aashutoshrathi opened #165 "ongaku - Anime Radio"
[ongaku](https://ongaku.js.org/), Online Anime Radio.

[2017-08-29 09:00] aviaryan commented on #165
Good addition. BTW, the online app is not Electron based, right?

[2017-08-29 09:05] aashutoshrathi commented on #165
Oh!!, Sorry, It also have a Desktop app (Electron based).

[2017-08-29 09:11] Anshuman-Verma commented on #165
This one is a web-app, the electron based desktop port is [here](https://github.com/Anshuman-Verma/ongaku-desktop).

Btw thanks @aashutoshrathi for this addition. 😄

[2017-08-29 09:26] aashutoshrathi commented on #165
Should I add it in _Music, Radio and Podcasts_ ?

[2017-08-29 09:27] aviaryan commented on #165
@aashutoshrathi Yes

[2017-08-29 10:01] aashutoshrathi opened #167 "SnapDrop Link Fix"
[SnapDrop](https://snapdrop.net/) is giving SSL Error, it is needed to change it to [SnapDrop](http://snapdrop.net/)
This will also fix Travis CI Build.

[2017-08-29 14:23] Anshuman-Verma commented on #165
Please close this @aashutoshrathi 😄

[2017-08-29 14:25] #165 closed

[2017-08-29 17:46] aashutoshrathi opened #169 "Fuge.it link is dead"
[Fuge.it](http://fuge.it/howitworks) no longer exist.

[2017-08-29 18:04] Lucifer24 opened #170 "Openings.moe Anime Video Player"
[Opening.moe](http://openings.moe/?video=Opening2-K-On!!) Oniline Anime Video Player

[2017-08-30 01:24] aviaryan commented on #169
Was it completely taken down or just re-established on some other domain?
If it no longer exists, we should delete the entry.

[2017-08-30 01:36] aviaryan commented on #170
Looks awesome. Please send a PR.

PS - The animation in [Ending1-5CentimetersPerSecond](http://openings.moe/?video=Ending1-5CentimetersPerSecond) is out of this world.

[2017-08-30 03:47] Anshuman-Verma commented on #170
Have to agree with @aviaryan

[2017-08-30 04:24] aashutoshrathi commented on #169
No, it is completely off the grid now.

[2017-08-30 12:27] #169 closed

[2017-08-30 12:28] #167 closed

[2017-09-04 22:23] Monal5031 opened #173 "Flaming Text"
[Flaming text](http://flamingtext.com/) online design logo creator.

[2017-09-05 05:54] aviaryan commented on #173
@Monal5031 Nice tool. Please send a PR.
PS - We can use it to do #31 also.

[2017-09-05 05:57] #170 closed

[2017-09-07 08:44] Monal5031 commented on #173
@aviaryan Sure we can do that but it won't look that much good and also would become unrelated I guess.
If you want I can try some ideas over #31

[2017-09-07 08:56] aviaryan commented on #173
Yea, please go ahead. :smile:

[2017-09-24 19:16] Monal5031 commented on #31
![coollogo_com-12564504](https://user-images.githubusercontent.com/21009189/30785864-dca014ae-a18a-11e7-8934-d88e21c70c51.png)

@aviaryan Some random experiments with flamingtext 😅

[2017-09-25 01:40] #173 closed

[2017-09-28 05:24] aashutoshrathi opened #177 "DiffNow"
https://www.diffnow.com/
Advanced, online and free File Difference checking, with options like Upload file, compare files by their links or Text Input.
It is better than existing entry in *Text Based Tools* as the prev. one. doesn't give you options for uploading files and when it comes to comparing large files (test cases), we better upload one file.

[2017-09-29 14:19] Monal5031 opened #178 "Formoid"
[http://formoid.com/feedback/registration-form-template-html-choice-of-font-and-size-P.html](http://formoid.com/feedback/registration-form-template-html-choice-of-font-and-size-P.html)

Formoid is a free desktop app that helps you easily create signup forms, surveys, order forms, event registrations and more in a few seconds without writing a single line of code.

Its a desktop app, not sure if we

[2017-10-09 13:37] aviaryan commented on #177
@aashutoshrathi Sure. We should have it but let's keep the existing one too. (we can have max 2 applications/type)

[2017-10-09 13:38] aviaryan commented on #163
Sounds good. Please send a PR.

[2017-10-09 13:40] aviaryan commented on #162
I just tried it now and it still doesn't work. Since Chrome owns the highest percentage of browser usage, I don't think we should add it.

[2017-10-09 13:41] aviaryan commented on #178
No, I don't think we can add a desktop app here.

[2017-10-23 08:43] anshumanv commented on #31
Please mark this as `hacktoberfest` to attract contributors.

[2017-10-23 11:20] aviaryan commented on #31
@anshumanv done.
@Monal5031 haha, there's some irony there.

[2017-10-26 20:22] aashutoshrathi opened #180 "Add Mentioned In Awesome Badge"
Add this new badge by awesome and show off this project

[![Mentioned in Awesome awesome-no-login-web-apps
](https://awesome.re/mentioned-badge.svg)](https://github.com/aviaryan/awesome-no-login-web-apps)

[2017-10-28 17:14] aviaryan commented on #180
Good idea. Will do it quick.

[2017-10-28 17:14] #180 closed

[2017-10-28 17:38] aviaryan commented on #136
Resource for good HTML5 games that can work anywhere https://tutorialzine.com/2015/02/30-amazing-games-made-only-with-html5

[2017-11-01 14:24] #162 closed

[2017-11-05 20:44] aashutoshrathi opened #183 "Add .coafile"
Add bears for YAML, MD and sh files to manage code quality for this repository.

- [x] Assign me to this issue.

[2017-11-08 13:09] aashutoshrathi opened #184 "Surge.sh"
Static web publishing for Front-End Developers
Simple, single-command web publishing. Publish HTML, CSS, and JS for free, without leaving the command line.
This can go to _Programming Tools_

[2017-12-13 13:34] Monal5031 opened #186 "error in ascii link"
https://ascii.li is giving an error, build failing due to it.
ping @aviaryan

[2017-12-13 13:35] Monal5031 commented on #183
Please don't add the mysterious MDBear 🙏 we can add bear to check links also.

[2017-12-13 13:42] aashutoshrathi commented on #183
For checking links, we have a beautifully written script

[2017-12-13 13:43] Monal5031 commented on #183
Which gives a very ugly output.

[2017-12-18 09:05] aviaryan commented on #183
@aashutoshrathi @Monal5031  What will those bears do? Please list them in points.

[2017-12-18 09:15] aviaryan commented on #186
@Monal5031 Thanks for reporting. Please send a PR to fix the same.

[2017-12-18 09:16] aviaryan commented on #184
`surge.sh` requires a CLI software to be installed. This goes against "web apps".
So, I am not sure if we can have it or not.

[2017-12-19 12:47] Monal5031 commented on #186
Somehow I checked again it is working now :confused:

[2017-12-19 12:51] Monal5031 commented on #183
- YAMLLintBear
- InvalidLinkBear
views? @aashutoshrathi

[2018-01-06 16:25] PiyushPawar17 opened #188 "Website Grader"
https://website.grader.com/
Check how strong is your website.

[2018-01-22 09:18] #184 closed

[2018-01-22 09:18] #178 closed

[2018-01-22 09:22] aviaryan commented on #186
It shows a domain for sale message now. I think we can remove it. Will you like to send a PR? @Monal5031

[2018-01-23 08:05] #186 closed

[2018-01-25 19:55] #159 closed

[2018-01-27 17:09] aashutoshrathi opened #190 "itunes.so-nik.com not responding"
`[L255] http://itunes.so-nik.com/ getaddrinfo: Name or service not known`

This fixes Travis

[2018-01-27 17:49] #177 closed

[2018-01-27 17:49] #190 closed

[2018-02-04 14:45] aviaryan commented on #188
Good tool. Please send a PR.
Also, be sure to mention that the email field on their site can be left blank.

[2018-02-22 01:59] aviaryan opened #192 "Add FlatIcon in Search Engines"
It's a really good service for finding free icons.
https://www.flaticon.com/

[2018-03-03 12:38] ProfessorZer0 opened #194 "Instagram story downloader"

[2018-03-19 03:54] Monal5031 opened #197 "Add Edubirdie's plag checker"
[Edubirdies plag checker](https://edubirdie.com/plagiarism-checker)
An online plagiarism checker which gives percentage of similarity comparing our content with online resources.

[2018-03-27 11:16] #188 closed

[2018-04-04 13:35] aviaryan commented on #136
@maracuja-juice Awesome game could mean any game which is well-designed and fun to play for a significant population of the human race.

[2018-04-04 13:36] maracuja-juice commented on #136
@aviaryan How about [this](https://maracuja-juice.github.io/ultimate-tic-tac-react/) ? :-)

[2018-04-04 13:48] aviaryan commented on #136
@maracuja-juice Excellent demonstration of concepts but I would say that an option to play against AI or a live human player would make it more interesting. Right now it's mostly unusable if you are alone.

[2018-04-04 14:27] maracuja-juice commented on #136
@aviaryan Yes that is correct. It's something that I would like to work on.

[2018-05-03 15:03] #31 closed

[2018-05-11 08:55] aviaryan commented on #183
@aashutoshrathi Can you please provide an update on the bears that you propose to add.

[2018-05-11 08:56] aviaryan commented on #163
Let's try to avoid `[Account]` types as much as possible.

[2018-05-11 08:56] #163 closed

[2018-07-17 15:15] lmintmate opened #203 "youtubemp3.to (Internet Downloaders category) no longer works"
The homepage of youtubemp3.to says the following:

In addition when one attempts to use the service anyway, the following message is displayed:

Since this service no longer works, the entry should probably be removed. Besides onlineconverter (the entry below this one) covers the downloading of mp3 files from youtube videos just fine.
Thanks in advance for understanding.

[2018-07-20 04:33] dpavankvarma commented on #192
Opened PR #204 for this.

[2018-07-20 06:33] aviaryan commented on #192
Thanks @dpavankvarma

[2018-07-20 06:33] #192 closed

[2018-07-20 06:34] aviaryan commented on #203
You are right. Do you want to send a PR for this?

[2018-07-20 06:34] aviaryan commented on #197
ping @Monal5031

[2018-07-20 06:36] aviaryan commented on #194
Nice tool. Do you want to send a PR?

[2018-07-20 06:37] #183 closed

[2018-07-20 06:51] aashutoshrathi commented on #183
Actually, @Monal5031 know about coala bears better than me. 😅
Sorry, for the late response.

[2018-07-20 07:00] lmintmate commented on #203
Just sent my PR. Please let me know if there's anything else I should do.

[2018-07-20 07:01] #203 closed

[2018-07-20 07:02] aviaryan commented on #203
Thank you @lmintmate.

[2018-07-20 07:31] dpavankvarma commented on #197
Does this needs to be categorized as **Miscellaneous**?

[2018-07-20 08:45] Monal5031 commented on #197
Sorry for the late response @aviaryan where should this be added?

[2018-07-20 13:02] aviaryan commented on #197
Misc should be fine.

[2018-07-22 09:19] ProfessorZer0 commented on #194
Pull request sent

[2018-07-28 05:22] amitguptagwl opened #209 "Add imglab"
I wanted to add [imglab](http://imglab.ml) in your list. But I'm not sure what would the appropriate category or should we create new category for machine learning tools.

A brief introduction about imglab

Imglab is an online free opensource image annotation application.

[2018-07-31 11:49] aviaryan commented on #209
It doesn't seem like it allows upload of `jpg` and `png` files. Is that how it is supposed to work?

[2018-07-31 11:56] amitguptagwl commented on #209
I've tried it with jpg, svg, and png. All seems working fine. Can you please let me know the browser you're trying?

[2018-07-31 12:24] amitguptagwl commented on #209
Ah ok, are you trying to click menu > open. That option is to open the project file not to import images. You'll find 2 buttons near the thumbnail slider or you can use shortcuts to import images.

However it can be a good idea to open images with the same button. I can think about that.

[2019-03-21 20:53] Monal5031 commented on #197
Done in [#206](https://github.com/aviaryan/awesome-no-login-web-apps/pull/206)

[2019-10-13 04:41] Swati4star opened #226 "add travis badge on readme"
There is no travis badge in readme.
Shall I go ahead and add it?

[2019-10-13 15:38] herdir commented on #136
Added 3 online games on PR https://github.com/aviaryan/awesome-no-login-web-apps/pull/227

[2020-09-07 02:56] mfxtreme opened #245 "Add writexo"
Please add writexo.com to the notepads section. I use it daily and it has no login!

[2020-09-07 02:59] #245 closed

[2020-09-07 16:25] aviaryan commented on #245
Thanks, can you send a MR? @mfxtreme

[2021-03-01 18:25] ikbal99 opened #264 "How To Download Videos Online"
[https://tubestar.in/](url)
Download Youtube Video,Download New Video Song,Download Instagram Reels Video,Tubestar.in

[2021-03-15 09:03] Filippa-Link opened #265 "Some Web Apps on The List is Down Now"
Hi,

Just let you know that when I view the Code, I find two of the online web video downloaders are not working for now.

The first one is https://us.savefrom.net/. It has discontinued its Service in the United States since April 16, 2020.
The second one is keepvid.com. Keepvid has terminated its downloading service for a long time. The online tool can only convert videos rather than download vid

[2021-05-23 20:56] couleurm opened #271 "some login-less file transfer sites"
[swisstransfer](https://swisstransfer.com)
pros: 50gb limit
cons: hosted in switzerland, eu

[zippyshare](https://zippyshare.com)
pros: has built-in video player if you upload a video, doesn't support every codec but it does the job for quick losssless video sharing
cons: 500mb limit
website has annoying ads, adblocker recommended

[2021-10-21 18:59] aviaryan opened #274 "Clean up invalid URLs to make tests pass"
GitHub Actions log has failing URLs.

https://github.com/aviaryan/awesome-no-login-web-apps/runs/3967290673?check_suite_focus=true#step:5:1

We need to remove those entries so tests can start passing again.

[2021-12-10 06:13] squatica opened #277 "Discord is not loginless"
Accessing Discord leads to this page
![discord](https://user-images.githubusercontent.com/53292272/145526207-1d24c31a-0d50-48a7-9845-58f342d57c0a.png)

[2021-12-10 08:13] aviaryan commented on #277
Don't go through that option. Click on "Open Discord in your browser" on the homepage. Add username. Then add a Date of birth but don't add anything in the email prompt. That way, you can create an account without email. I just did it right now.

<img width="1755" alt="Screenshot 2021-12-10 at 1 41 09 PM" src="https://user-images.githubusercontent.com/4047597/145539850-9d0d6238-09af-4c06-a7eb-e48b

[2021-12-10 08:13] #277 closed

[2022-05-27 09:50] rpog opened #282 "Repl.it needs login"
Couldn't use https://repl.it/ without being prompted for a login. Should be removed from this list